@import 'tailwindcss';
@plugin "flyonui" {
  themes:
    light --default,
    dark --prefersdark,
    gourmet,
    spotify,
    valorant,
    vscode;
}

/* @plugin "@iconify/tailwind4"; */
@source "./node_modules/flyonui/flyonui.js";
@import 'flyonui/variants.css';
