@import "tailwindcss";
@plugin "flyonui" {
  themes:
    light --default,
    dark --prefersdark,
    gourmet,
    spotify;
}

/* @plugin "@iconify/tailwind4"; */
@source "./node_modules/flyonui/flyonui.js";
@import "flyonui/variants.css";
